# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
env/
.env

# Environments
.env
.env.local
.env.*.local
.vscode/
.idea/

# Distribution / Build
dist/
build/
*.egg-info/

# Tests
.pytest_cache/
.tox/
.coverage
htmlcov/

# Misc
.DS_Store
Thumbs.db
